In [2]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.3.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp313-cp313-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.0 MB 1.7 MB/s eta 0:00:07
   -- ------------------------------------- 0.8/11.0 MB 1.7 MB/s eta 0:00:06
   ---- ----------------------------------- 1.3/11.0 MB 1.9 MB/s eta 0:00:06
   ------ --------------------------------- 1.8/11.0 MB 2.1 MB/s eta 0:00:05
   -------- ------------------------------- 2.4/11.0 MB 2.2 MB/s eta 0:00:04
   ---------- ----------------------------- 2.9/11.0 MB 2.1 MB/s eta 0:00:04
   ------------ --------------------------- 3.4/11.0 MB 2.1 MB/s eta 0:00:04
   -------------- ------------------------- 3.9/11.0 MB 2.2 MB/s eta 0:00:04
   --------------- ------------------------ 4.2/11.0 MB 2.1 MB/s eta 0:00:04
   ------------------ --------------------- 5.0/11.0 MB 2.2 MB/s eta 0:00:03
   ------------------- -------------------- 5.2/11.0 MB 2.3 MB/s eta 0:00:03
   -------------------- ------------------- 5.8/11.0 MB 2.2 MB/s eta 0:00:03
   --------------------- ------------------ 6.0/11.0 MB 2.2 MB/s eta 0:00:03
   ---------------------- ----------------- 6.3/11.0 MB 2.1 MB/s eta 0:00:03
   ------------------------ --------------- 6.8/11.0 MB 2.1 MB/s eta 0:00:03
   ------------------------ --------------- 6.8/11.0 MB 2.1 MB/s eta 0:00:03
   -------------------------- ------------- 7.3/11.0 MB 2.0 MB/s eta 0:00:02
   --------------------------- ------------ 7.6/11.0 MB 2.0 MB/s eta 0:00:02
   ----------------------------- ---------- 8.1/11.0 MB 2.0 MB/s eta 0:00:02
   ------------------------------ --------- 8.4/11.0 MB 1.9 MB/s eta 0:00:02
   ------------------------------- -------- 8.7/11.0 MB 1.9 MB/s eta 0:00:02
   -------------------------------- ------- 8.9/11.0 MB 1.9 MB/s eta 0:00:02
   --------------------------------- ------ 9.2/11.0 MB 1.9 MB/s eta 0:00:01
   ---------------------------------- ----- 9.4/11.0 MB 1.9 MB/s eta 0:00:01
   ----------------------------------- ---- 9.7/11.0 MB 1.8 MB/s eta 0:00:01
   ------------------------------------ --- 10.0/11.0 MB 1.8 MB/s eta 0:00:01
   ------------------------------------- -- 10.2/11.0 MB 1.8 MB/s eta 0:00:01
   -------------------------------------- - 10.5/11.0 MB 1.8 MB/s eta 0:00:01
   ---------------------------------------  10.7/11.0 MB 1.8 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 1.7 MB/s eta 0:00:00
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Installing collected packages: pytz, pandas
Successfully installed pandas-2.3.3 pytz-2025.2

[notice] A new release of pip is available: 24.3.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [9]:
import pandas as pd

In [10]:
movies=pd.read_csv('dataset.csv')

In [11]:
movies.head(10)

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811
5,667257,Impossible Things,"Family,Drama",es,"Matilde is a woman who, after the death of her...",14.358,2021-06-17,8.6,255
6,129,Spirited Away,"Animation,Family,Fantasy",ja,"A young girl, Chihiro, becomes trapped in a st...",92.056,2001-07-20,8.5,13093
7,730154,Your Eyes Tell,"Romance,Drama",ja,"A tragic accident lead to Kaori's blindness, b...",51.345,2020-10-23,8.5,339
8,372754,Dou kyu sei – Classmates,"Romance,Animation",ja,"Rihito Sajo, an honor student with a perfect s...",14.285,2016-02-20,8.5,239
9,372058,Your Name.,"Romance,Animation,Drama",ja,High schoolers Mitsuha and Taki are complete s...,158.270,2016-08-26,8.5,8895

In [12]:
movies.describe()

                  id    popularity  vote_average    vote_count
count   10000.000000  10000.000000  10000.000000  10000.000000
mean   161243.505000     34.697267      6.621150   1547.309400
std    211422.046043    211.684175      0.766231   2648.295789
min         5.000000      0.600000      4.600000    200.000000
25%     10127.750000      9.154750      6.100000    315.000000
50%     30002.500000     13.637500      6.600000    583.500000
75%    310133.500000     25.651250      7.200000   1460.000000
max    934761.000000  10436.917000      8.700000  31917.000000

In [13]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 10000 non-null  int64
 1   title              10000 non-null  object
 2   genre              9997 non-null   object
 3   original_language  10000 non-null  object
 4   overview           9987 non-null   object
 5   popularity         10000 non-null  float64
 6   release_date       10000 non-null  object
 7   vote_average       10000 non-null  float64
 8   vote_count         10000 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 703.3+ KB

In [14]:
movies.isnull().sum()

id                    0
title                 0
genre                 3
original_language     0
overview             13
popularity            0
release_date          0
vote_average          0
vote_count            0
dtype: int64

In [15]:
movies.columns

Index(['id', 'title', 'genre', 'original_language', 'overview', 'popularity',
       'release_date', 'vote_average', 'vote_count'],
      dtype='object')

In [16]:
movies=movies[['id', 'title', 'overview', 'genre']]

In [17]:
movies

,id,title,overview,genre
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"Drama,Crime"
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","Comedy,Drama,Romance"
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","Drama,Crime"
3,424,Schindler's List,The true story of how businessman Oskar Schind...,"Drama,History,War"
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,"Drama,Crime"
...,...,...,...,...
9995,10196,The Last Airbender,"The story follows the adventures of Aang, a yo...","Action,Adventure,Fantasy"
9996,331446,Sharknado 3: Oh Hell No!,The sharks take bite out of the East Coast whe...,"Action,TV Movie,Science Fiction,Comedy,Adventure"
9997,13995,Captain America,"During World War II, a brave, patriotic Americ...","Action,Science Fiction,War"
9998,2312,In the Name of the King: A Dungeon Siege Tale,A man named Farmer sets out to rescue his kidn...,"Adventure,Fantasy,Action,Drama"
9999,455957,Domino,Seeking justice for his partner’s murder by an...,"Thriller,Action,Crime"

In [18]:
movies['tags'] = movies['overview']+movies['genre']

In [19]:
movies

,id,title,overview,genre,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"Drama,Crime",Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","Comedy,Drama,Romance","Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","Drama,Crime","Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...,"Drama,History,War",The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,"Drama,Crime",In the continuing saga of the Corleone crime f...
...,...,...,...,...,...
9995,10196,The Last Airbender,"The story follows the adventures of Aang, a yo...","Action,Adventure,Fantasy","The story follows the adventures of Aang, a yo..."
9996,331446,Sharknado 3: Oh Hell No!,The sharks take bite out of the East Coast whe...,"Action,TV Movie,Science Fiction,Comedy,Adventure",The sharks take bite out of the East Coast whe...
9997,13995,Captain America,"During World War II, a brave, patriotic Americ...","Action,Science Fiction,War","During World War II, a brave, patriotic Americ..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,A man named Farmer sets out to rescue his kidn...,"Adventure,Fantasy,Action,Drama",A man named Farmer sets out to rescue his kidn...
9999,455957,Domino,Seeking justice for his partner’s murder by an...,"Thriller,Action,Crime",Seeking justice for his partner’s murder by an...

In [20]:
new_data=movies.drop(columns=['overview','genre'])

In [21]:
new_data

,id,title,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...
...,...,...,...
9995,10196,The Last Airbender,"The story follows the adventures of Aang, a yo..."
9996,331446,Sharknado 3: Oh Hell No!,The sharks take bite out of the East Coast whe...
9997,13995,Captain America,"During World War II, a brave, patriotic Americ..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,A man named Farmer sets out to rescue his kidn...
9999,455957,Domino,Seeking justice for his partner’s murder by an...

In [24]:
import sys
!{sys.executable} -m pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.7.2-cp313-cp313-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: numpy>=1.22.0 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (2.2.3)
Collecting scipy>=1.8.0 (from scikit-learn)
  Downloading scipy-1.16.3-cp313-cp313-win_amd64.whl.metadata (60 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.5.2-py3-none-any.whl.metadata (5.6 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.6.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.7.2-cp313-cp313-win_amd64.whl (8.7 MB)
   ---------------------------------------- 0.0/8.7 MB ? eta -:--:--
   - -------------------------------------- 0.3/8.7 MB ? eta -:--:--
   -- ------------------------------------- 0.5/8.7 MB 1.4 MB/s eta 0:00:06
   -- ------------------------------------- 0.5/8.7 MB 1.4 MB/s eta 0:00:06
   --- ------------------------------------ 0.8/8.7 MB 783.1 kB/s eta 0:00:11
   --- ------------------------------------ 0.8/8.7 MB 783.1 kB/s eta 0:00:11
   ------ --------------------------------- 1.3/8.7 MB 1.0 MB/s eta 0:00:08
   --------- ------------------------------ 2.1/8.7 MB 1.4 MB/s eta 0:00:05
   ---------- ----------------------------- 2.4/8.7 MB 1.4 MB/s eta 0:00:05
   ------------- -------------------------- 2.9/8.7 MB 1.5 MB/s eta 0:00:04
   --------------- ------------------------ 3.4/8.7 MB 1.7 MB/s eta 0:00:04
   ------------------ --------------------- 3.9/8.7 MB 1.7 MB/s eta 0:00:03
   -------------------- ------------------- 4.5/8.7 MB 1.9 MB/s eta 0:00:03
   ------------------------ --------------- 5.2/8.7 MB 1.9 MB/s eta 0:00:02
   -------------------------- ------------- 5.8/8.7 MB 2.0 MB/s eta 0:00:02
   -------------------------- ------------- 5.8/8.7 MB 2.0 MB/s eta 0:00:02
   ---------------------------- ----------- 6.3/8.7 MB 1.9 MB/s eta 0:00:02
   ---------------------------- ----------- 6.3/8.7 MB 1.9 MB/s eta 0:00:02
   ------------------------------ --------- 6.6/8.7 MB 1.8 MB/s eta 0:00:02
   ------------------------------- -------- 6.8/8.7 MB 1.7 MB/s eta 0:00:02
   --------------------------------- ------ 7.3/8.7 MB 1.8 MB/s eta 0:00:01
   ---------------------------------- ----- 7.6/8.7 MB 1.8 MB/s eta 0:00:01
   ---------------------------------- ----- 7.6/8.7 MB 1.8 MB/s eta 0:00:01
   -------------------------------------- - 8.4/8.7 MB 1.8 MB/s eta 0:00:01
   ---------------------------------------- 8.7/8.7 MB 1.8 MB/s eta 0:00:00
Downloading joblib-1.5.2-py3-none-any.whl (308 kB)
Downloading scipy-1.16.3-cp313-cp313-win_amd64.whl (38.5 MB)
   ---------------------------------------- 0.0/38.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/38.5 MB ? eta -:--:--
   ---------------------------------------- 0.3/38.5 MB ? eta -:--:--
   ---------------------------------------- 0.3/38.5 MB ? eta -:--:--
    --------------------------------------- 0.5/38.5 MB 691.2 kB/s eta 0:00:55
   - -------------------------------------- 1.0/38.5 MB 1.2 MB/s eta 0:00:32
   - -------------------------------------- 1.3/38.5 MB 1.2 MB/s eta 0:00:30
   -- ------------------------------------- 2.1/38.5 MB 1.6 MB/s eta 0:00:23
   -- ------------------------------------- 2.1/38.5 MB 1.6 MB/s eta 0:00:23
   -- ------------------------------------- 2.9/38.5 MB 1.7 MB/s eta 0:00:21
   --- ------------------------------------ 3.1/38.5 MB 1.8 MB/s eta 0:00:21
   --- ------------------------------------ 3.7/38.5 MB 1.8 MB/s eta 0:00:20
   --- ------------------------------------ 3.7/38.5 MB 1.8 MB/s eta 0:00:20
   ---- ----------------------------------- 3.9/38.5 MB 1.6 MB/s eta 0:00:22
   ---- ----------------------------------- 3.9/38.5 MB 1.6 MB/s eta 0:00:22
   ---- ----------------------------------- 4.5/38.5 MB 1.5 MB/s eta 0:00:23
   ----- ---------------------------------- 5.0/38.5 MB 1.6 MB/s eta 0:00:22
   ----- ---------------------------------- 5.5/38.5 MB 1.6 MB/s eta 0:00:21
   ----- ---------------------------------- 5.8/38.5 MB 1.6 MB/s eta 0:00:20
   ------ --------------------------------- 6.0/38.5 MB 1.6 MB/s eta 0:00:21
   ------ --------------------------------- 6.3/38.5 MB 1.6 MB/s eta 0:00:20
   ------ --------------------------------- 6.6/38.5 MB 1.6 MB/s eta 0:00:21
   ------- -------------------------------- 6.8/38.5 MB 1.5 MB/s eta 0:00:21
   ------- -------------------------------- 7.1/38.5 MB 1.5 MB/s eta 0:00:21
   ------- -------------------------------- 7.3/38.5 MB 1.5 MB/s eta 0:00:21
   ------- -------------------------------- 7.6/38.5 MB 1.5 MB/s eta 0:00:21
   -------- ------------------------------- 7.9/38.5 MB 1.5 MB/s eta 0:00:21
   -------- ------------------------------- 8.1/38.5 MB 1.5 MB/s eta 0:00:21
   -------- ------------------------------- 8.4/38.5 MB 1.5 MB/s eta 0:00:21
   -------- ------------------------------- 8.7/38.5 MB 1.5 MB/s eta 0:00:21
   --------- ------------------------------ 8.9/38.5 MB 1.5 MB/s eta 0:00:20
   --------- ------------------------------ 9.2/38.5 MB 1.5 MB/s eta 0:00:20
   --------- ------------------------------ 9.4/38.5 MB 1.5 MB/s eta 0:00:20
   ---------- ----------------------------- 10.0/38.5 MB 1.5 MB/s eta 0:00:20
   ---------- ----------------------------- 10.2/38.5 MB 1.5 MB/s eta 0:00:20
   ---------- ----------------------------- 10.5/38.5 MB 1.5 MB/s eta 0:00:20
   ----------- ---------------------------- 10.7/38.5 MB 1.5 MB/s eta 0:00:19
   ----------- ---------------------------- 11.0/38.5 MB 1.5 MB/s eta 0:00:19
   ----------- ---------------------------- 11.5/38.5 MB 1.5 MB/s eta 0:00:19
   ------------ --------------------------- 11.8/38.5 MB 1.5 MB/s eta 0:00:19
   ------------ --------------------------- 12.1/38.5 MB 1.5 MB/s eta 0:00:18
   ------------ --------------------------- 12.3/38.5 MB 1.5 MB/s eta 0:00:18
   ------------- -------------------------- 12.6/38.5 MB 1.5 MB/s eta 0:00:18
   ------------- -------------------------- 12.8/38.5 MB 1.5 MB/s eta 0:00:18
   ------------- -------------------------- 13.1/38.5 MB 1.5 MB/s eta 0:00:18
   ------------- -------------------------- 13.4/38.5 MB 1.5 MB/s eta 0:00:18
   -------------- ------------------------- 13.9/38.5 MB 1.5 MB/s eta 0:00:17
   -------------- ------------------------- 14.2/38.5 MB 1.5 MB/s eta 0:00:17
   -------------- ------------------------- 14.4/38.5 MB 1.5 MB/s eta 0:00:17
   --------------- ------------------------ 14.9/38.5 MB 1.5 MB/s eta 0:00:16
   --------------- ------------------------ 15.2/38.5 MB 1.5 MB/s eta 0:00:16
   ---------------- ----------------------- 15.5/38.5 MB 1.5 MB/s eta 0:00:16
   ---------------- ----------------------- 16.0/38.5 MB 1.5 MB/s eta 0:00:16
   ---------------- ----------------------- 16.3/38.5 MB 1.5 MB/s eta 0:00:15
   ----------------- ---------------------- 16.8/38.5 MB 1.5 MB/s eta 0:00:15
   ----------------- ---------------------- 17.0/38.5 MB 1.5 MB/s eta 0:00:15
   ----------------- ---------------------- 17.3/38.5 MB 1.5 MB/s eta 0:00:15
   ------------------ --------------------- 17.6/38.5 MB 1.5 MB/s eta 0:00:14
   ------------------ --------------------- 18.1/38.5 MB 1.5 MB/s eta 0:00:14
   ------------------- -------------------- 18.4/38.5 MB 1.5 MB/s eta 0:00:14
   ------------------- -------------------- 18.9/38.5 MB 1.5 MB/s eta 0:00:13
   ------------------- -------------------- 19.1/38.5 MB 1.5 MB/s eta 0:00:13
   -------------------- ------------------- 19.4/38.5 MB 1.5 MB/s eta 0:00:13
   -------------------- ------------------- 19.9/38.5 MB 1.5 MB/s eta 0:00:13
   -------------------- ------------------- 20.2/38.5 MB 1.5 MB/s eta 0:00:12
   --------------------- ------------------ 20.4/38.5 MB 1.5 MB/s eta 0:00:12
   --------------------- ------------------ 20.7/38.5 MB 1.5 MB/s eta 0:00:12
   --------------------- ------------------ 21.0/38.5 MB 1.5 MB/s eta 0:00:12
   ---------------------- ----------------- 21.2/38.5 MB 1.5 MB/s eta 0:00:12
   ---------------------- ----------------- 21.5/38.5 MB 1.5 MB/s eta 0:00:12
   ---------------------- ----------------- 21.8/38.5 MB 1.5 MB/s eta 0:00:12
   ---------------------- ----------------- 22.0/38.5 MB 1.5 MB/s eta 0:00:11
   ----------------------- ---------------- 22.3/38.5 MB 1.5 MB/s eta 0:00:11
   ----------------------- ---------------- 22.5/38.5 MB 1.5 MB/s eta 0:00:11
   ----------------------- ---------------- 23.1/38.5 MB 1.5 MB/s eta 0:00:11
   ------------------------ --------------- 23.3/38.5 MB 1.5 MB/s eta 0:00:11
   ------------------------ --------------- 23.6/38.5 MB 1.5 MB/s eta 0:00:10
   ------------------------ --------------- 23.9/38.5 MB 1.5 MB/s eta 0:00:10
   ------------------------- -------------- 24.1/38.5 MB 1.5 MB/s eta 0:00:10
   ------------------------- -------------- 24.4/38.5 MB 1.5 MB/s eta 0:00:10
   ------------------------- -------------- 24.6/38.5 MB 1.5 MB/s eta 0:00:10
   ------------------------- -------------- 24.9/38.5 MB 1.5 MB/s eta 0:00:10
   -------------------------- ------------- 25.4/38.5 MB 1.5 MB/s eta 0:00:09
   -------------------------- ------------- 25.7/38.5 MB 1.5 MB/s eta 0:00:09
   -------------------------- ------------- 26.0/38.5 MB 1.5 MB/s eta 0:00:09
   --------------------------- ------------ 26.2/38.5 MB 1.5 MB/s eta 0:00:09
   --------------------------- ------------ 26.5/38.5 MB 1.5 MB/s eta 0:00:09
   --------------------------- ------------ 26.7/38.5 MB 1.5 MB/s eta 0:00:08
   ---------------------------- ----------- 27.3/38.5 MB 1.5 MB/s eta 0:00:08
   ---------------------------- ----------- 27.5/38.5 MB 1.5 MB/s eta 0:00:08
   ---------------------------- ----------- 27.8/38.5 MB 1.5 MB/s eta 0:00:08
   ----------------------------- ---------- 28.3/38.5 MB 1.5 MB/s eta 0:00:07
   ----------------------------- ---------- 28.6/38.5 MB 1.5 MB/s eta 0:00:07
   ----------------------------- ---------- 28.8/38.5 MB 1.5 MB/s eta 0:00:07
   ------------------------------ --------- 29.1/38.5 MB 1.5 MB/s eta 0:00:07
   ------------------------------ --------- 29.4/38.5 MB 1.5 MB/s eta 0:00:07
   ------------------------------ --------- 29.6/38.5 MB 1.5 MB/s eta 0:00:06
   ------------------------------- -------- 29.9/38.5 MB 1.5 MB/s eta 0:00:06
   ------------------------------- -------- 30.1/38.5 MB 1.5 MB/s eta 0:00:06
   ------------------------------- -------- 30.7/38.5 MB 1.5 MB/s eta 0:00:06
   -------------------------------- ------- 30.9/38.5 MB 1.5 MB/s eta 0:00:06
   -------------------------------- ------- 31.5/38.5 MB 1.5 MB/s eta 0:00:05
   -------------------------------- ------- 31.7/38.5 MB 1.5 MB/s eta 0:00:05
   -------------------------------- ------- 31.7/38.5 MB 1.5 MB/s eta 0:00:05
   --------------------------------- ------ 32.0/38.5 MB 1.5 MB/s eta 0:00:05
   --------------------------------- ------ 32.5/38.5 MB 1.5 MB/s eta 0:00:05
   ---------------------------------- ----- 32.8/38.5 MB 1.5 MB/s eta 0:00:04
   ---------------------------------- ----- 33.3/38.5 MB 1.5 MB/s eta 0:00:04
   ---------------------------------- ----- 33.6/38.5 MB 1.5 MB/s eta 0:00:04
   ----------------------------------- ---- 33.8/38.5 MB 1.5 MB/s eta 0:00:04
   ----------------------------------- ---- 34.3/38.5 MB 1.5 MB/s eta 0:00:03
   ----------------------------------- ---- 34.6/38.5 MB 1.5 MB/s eta 0:00:03
   ------------------------------------ --- 34.9/38.5 MB 1.5 MB/s eta 0:00:03
   ------------------------------------ --- 35.4/38.5 MB 1.5 MB/s eta 0:00:03
   ------------------------------------- -- 35.7/38.5 MB 1.5 MB/s eta 0:00:02
   ------------------------------------- -- 35.9/38.5 MB 1.5 MB/s eta 0:00:02
   ------------------------------------- -- 36.2/38.5 MB 1.5 MB/s eta 0:00:02
   -------------------------------------- - 36.7/38.5 MB 1.5 MB/s eta 0:00:02
   -------------------------------------- - 37.0/38.5 MB 1.5 MB/s eta 0:00:02
   -------------------------------------- - 37.2/38.5 MB 1.5 MB/s eta 0:00:01
   -------------------------------------- - 37.5/38.5 MB 1.5 MB/s eta 0:00:01
   ---------------------------------------  37.7/38.5 MB 1.5 MB/s eta 0:00:01
   ---------------------------------------  38.0/38.5 MB 1.5 MB/s eta 0:00:01
   ---------------------------------------  38.3/38.5 MB 1.5 MB/s eta 0:00:01
   ---------------------------------------- 38.5/38.5 MB 1.5 MB/s eta 0:00:00
Downloading threadpoolctl-3.6.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.5.2 scikit-learn-1.7.2 scipy-1.16.3 threadpoolctl-3.6.0

[notice] A new release of pip is available: 24.3.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [25]:
from sklearn.feature_extraction.text import CountVectorizer

In [26]:
cv = CountVectorizer(max_features=10000, stop_words='english')

In [27]:
vector = cv.fit_transform(new_data['tags'].values.astype('U')).toarray()

In [28]:
vector.shape

(10000, 10000)

In [29]:
from sklearn.metrics.pairwise import cosine_similarity

In [30]:
similarity = cosine_similarity(vector)

In [31]:
similarity

array([[1.        , 0.05634362, 0.13041013, ..., 0.07559289, 0.11065667,
        0.06900656],
       [0.05634362, 1.        , 0.07715167, ..., 0.        , 0.03636965,
        0.        ],
       [0.13041013, 0.07715167, 1.        , ..., 0.02300219, 0.0673435 ,
        0.09449112],
       ...,
       [0.07559289, 0.        , 0.02300219, ..., 1.        , 0.03253   ,
        0.03042903],
       [0.11065667, 0.03636965, 0.0673435 , ..., 0.03253   , 1.        ,
        0.04454354],
       [0.06900656, 0.        , 0.09449112, ..., 0.03042903, 0.04454354,
        1.        ]], shape=(10000, 10000))

In [32]:
new_data[new_data['title']=="The Godfather"].index[0]

np.int64(2)

In [33]:
distance = sorted(list(enumerate(similarity[2])), reverse=True, key=lambda vector:vector[1])
for i in distance[0:5]:
    print(new_data.iloc[i[0]].title)

The Godfather
The Godfather: Part II
Blood Ties
Joker
Bomb City

In [34]:
def recommand(movies):
    index=new_data[new_data['title']==movies].index[0]
    distance = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda vector:vector[1])
    for i in distance[0:5]:
        print(new_data.iloc[i[0]].title)

In [36]:
recommand("Captain America")

Captain America
Captain America: The First Avenger
Team Thor
Captain America: The Winter Soldier
Letters from Iwo Jima

In [37]:
import pickle

In [38]:
pickle.dump(new_data, open('movies_list.pkl', 'wb'))

In [39]:
pickle.dump(similarity, open('similarity.pkl', 'wb'))

In [40]:
pickle.load(open('movies_list.pkl', 'rb'))

,id,title,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...
...,...,...,...
9995,10196,The Last Airbender,"The story follows the adventures of Aang, a yo..."
9996,331446,Sharknado 3: Oh Hell No!,The sharks take bite out of the East Coast whe...
9997,13995,Captain America,"During World War II, a brave, patriotic Americ..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,A man named Farmer sets out to rescue his kidn...
9999,455957,Domino,Seeking justice for his partner’s murder by an...